<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


       <p>Hello,<br/>

       	    <br/>

            Thank you for registering with Ease Insurance <%= @subscriber.email %> !<br/>

            <br/>
		    We appreciate you and would update more shortly.

            <br/>
            <br/>


		    Warm Regards,<br/>

		    Ease Insurance Team</p>

  </body>
</html>